* {
    margin: 0;
    padding: 0;
}

:root {
    --s: 100px;
    /* size  */
    --m: 1px;
    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

body,
html,
.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    background-color: #252424;
    justify-content: center;
    /* align-items: center;
    justify-content: center; */
    /* /* align-items: center
    justify-content: center; */
    /* position: relative; */
}

.hive-grid {
    margin: 50px;
    /* position: absolute; */
    width: 1121px;
    height: 1500px;
}

.hexagon {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: #4d4a4a;
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

.hive-grid::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
            #000 0 var(--f));
}